.task {
  background: #f4f4f4;
  margin: 10px 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid salmon;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.x-icon {
  color: salmon;
}

.x-icon:hover {
  color: red;
}
